{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Cash</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.cash }}</td>
    <td>{{ statuses[user.status] }}</td>
    <td>
        <a href="{{ path('admin_user_show', { 'id': user.id }) }}" class="btn btn-success">show</a>
        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-primary">edit</a>
    </td>
    </tr>
{% endfor %}
    </tbody>
    </table>

    <hr>

    <a href="{{ path('admin_user_new') }}" class="btn btn-primary">Create a new user</a>
{% endblock %}
