{% extends 'admin.html.twig' %}

{% block body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password_raw) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.status) }}
    {#{{ form_widget(form) }}#}
    <input type="submit" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}

    <hr>

    <a href="{{ path('admin_user_index') }}" class="btn btn-success">Back to the list</a>

{% endblock %}
